/* Reset bases */
.window-content .czt-wrapper .czt-row,
.message-content .czt-wrapper .czt-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.window-content .czt-wrapper .czt-row .czt-column,
.message-content .czt-wrapper .czt-row .czt-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.window-content div.editor,
.message-content div.editor {
  width: 100%;
  height: 100%;
}
.window-content .czt-ul,
.message-content .czt-ul,
.window-content .czt-ol,
.message-content .czt-ol {
  margin-top: 0;
  padding: 0;
}
.window-content .czt-ul li,
.message-content .czt-ul li,
.window-content .czt-ol li,
.message-content .czt-ol li {
  list-style: none;
  margin-left: 0;
}
.window-content .czt-table tr,
.message-content .czt-table tr {
  background-color: inherit;
}
.window-content .czt-no-flex,
.message-content .czt-no-flex {
  flex: 0 0 auto;
}
.window-content .czt-style-bold-italic,
.message-content .czt-style-bold-italic {
  font-weight: bold;
  font-style: italic;
}
.window-content .czt-style-center,
.message-content .czt-style-center {
  text-align: center;
}
.window-content .czt-margin-bottom,
.message-content .czt-margin-bottom {
  margin-bottom: 3px;
}
.window-content .czt-float-left,
.message-content .czt-float-left {
  float: left;
}
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PTSans-Regular'), url('./fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Items Sheet */
/* Actors Sheet */
